body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6e6d7a; /* Peacock feather color */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li.homestay-name a {
    font-family: "Times New Roman", Times, serif; /* Example font */
    font-size: 24px;
    color: white;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

section {
    padding: 50px;
}

section h1 {
    margin-bottom: 20px;
}

.room, .offer {
    margin-bottom: 20px;
}
